@model IEnumerable<SocialTwitter.Models.Comentarios>
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap-comentario.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

    <div class="tweetEntry-tweetHolder">
        <h1 class="tweetEntry" style="margin-bottom:0px;">Comentarios.</h1>
        <!---------------------------------------->
        <!-- Entry with Media turned on. -->
        <div class="tweetEntry">


            <div class="tweetEntry-content">
                @foreach (var item in Model)
                {
                    <a class="tweetEntry-account-group">
                        <h3>@item.ApplicationUser.FullName</h3>
                        <span class="tweetEntry-timestamp"></span>
                    </a>

                    <div class="container">
                        @Html.DisplayFor(modelItem => item.Comentario)
                        <hr />

                        @foreach (var subComment in item.SubComentarios)
                        {
                        <ul class="list-group">
                            <li class="list-group-item">@subComment.subcomentario <small>por: <strong>example</strong></small></li>
                        </ul>
                        }
                    </div>
                    
                    <br />
                    { Html.RenderAction("SubComentarios", new { idComentario = item.ComentarioID }); }
                    <br /> 
                    <br />
                    <br />
                }

                <br /> 
                <br />
            </div>
        </div>
        <br />
    </div>
    <br />
</body>
</html>